{% extends 'base.html.twig' %}

{% block title %}Availability index{% endblock %}

{% block body %}
    <h1>Availability Calander</h1>

    {#
 time can be any string acceptable by http://www.php.net/strtotime, the
 template will output that time's month.
 If you don't want to pass in a date you can set time like this:
 {% set time = "now"|date("U") %}
 {% set time = "December 2012"|date("U") %}
 How ever you want to output items onto the calendar is a different issue,
 but I'd assume pushing everything into an array numerically indexed by that day:
 $days = array(1=>array('Something on the first'),31=>array('Halloween'));
#}
    <a href="{{ path('availability_new') }}">Create new</a>
    <a href="{{ path('availability_batch') }}">Create batch</a>
    <a href="{{ path('availability_calenderOmmen', {'location': 'Ommen'}) }}">Ommen</a>
    <a href="{{ path('availability_calenderHardenberg', {'location': 'Hardenberg'}) }}">Hardenberg</a>
    <table style="border: solid 1px black;">
        <thead>
        <tr style="border: solid 1px black;">
            <th colspan="7" class="center" style="text-align: center">
                {{ location }}
            </th>
        </tr>
        <tr style="border: solid 1px black;">
            <th colspan="3" class="center" style="text-align: center">
                <a href="{{ path('availability_calenderLastMonth', { 'date': time.modify('first day of previous month').format('Y-m-d'), 'location': location}) }}">last month</a>
            </th>
            <th colspan="2" class="center" style="text-align: center">
                {{ time|date('F') }}
            </th>
            <th colspan="3" class="center" style="text-align: center">
                <a href="{{ path('availability_calenderNextMonth', { 'date': time.modify('first day of next month').format('Y-m-d'), 'location': location}) }}">next month</a>
            </th>
        </tr>
        <tr>
            <th width="12%">Sunday</th>
            <th width="15%">Monday</th>
            <th width="15%">Tuesday</th>
            <th width="16%">Wednesday</th>
            <th width="15%">Thursday</th>
            <th width="15%">Friday</th>
            <th width="12%">Saturday</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            {% set daysInMonth = time|date('t') %}
            {% set startDow = time|date('F 1\\s\\t Y')|date('w') %}
            {% set dow = startDow %}
            {% for day in range(1,daysInMonth) %}
            {% if loop.first and startDow != 0 %}
                <td colspan="{{ startDow }}"></td>
            {% endif %}
            <td>
                <div style="border: solid 1px black; height: 100px; width: 100px; text-align: center">
                        <div style="text-decoration: black underline">{{ day }}</div>
                    <div>
                        {% for availibility in availabilities %}
                            {% if availibility.workDate.date|date("d") == day %}
                                <a href="{{ path('availability_edit', {'id': availibility.id}) }}">
                                    uren:{{ availibility.hours }}
                                </a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </td>
            {% if loop.last and dow != 6 %}
                <td colspan="{{ 6 - dow }}">&nbsp;</td>
            {% endif %}
            {% if dow == 6 %}
            {% set dow = 0 %}
        </tr>
        <tr>
            {% else %}
                {% set dow = dow + 1 %}
            {% endif %}
            {% endfor %}
        </tr>
        </tbody>
    </table>
{% endblock %}