{% extends 'base.html.twig' %}

{% block title %}Availability{% endblock %}

{% block body %}
    <h1>Availability</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ availability.id }}</td>
            </tr>
            <tr>
                <th>Branch</th>
                <td>{{ availability.branch }}</td>
            </tr>
            <tr>
                <th>WorkDate</th>
                <td>{{ availability.workDate ? availability.workDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Hours</th>
                <td>{{ availability.hours }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('availability_index') }}">back to list</a>

    <a href="{{ path('availability_edit', {'id': availability.id}) }}">edit</a>

    {{ include('availability/_delete_form.html.twig') }}
{% endblock %}
