{% extends 'base.html.twig' %}

{% block title %}Customer{% endblock %}

{% block body %}
    <h1>Klanten</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ customer.id }}</td>
            </tr>
            <tr>
                <th>Voornaam</th>
                <td>{{ customer.firstName }}</td>
            </tr>
            <tr>
                <th>Achternaam</th>
                <td>{{ customer.lastName }}</td>
            </tr>
            <tr>
                <th>Tussen voegsel</th>
                <td>{{ customer.namePrefix }}</td>
            </tr>
            <tr>
                <th>Straat</th>
                <td>{{ customer.street }}</td>
            </tr>
            <tr>
                <th>Huisnummer</th>
                <td>{{ customer.houseNumber }}</td>
            </tr>
            <tr>
                <th>Postcode</th>
                <td>{{ customer.postalCode }}</td>
            </tr>
            <tr>
                <th>Telefoonnummer</th>
                <td>{{ customer.phone }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ customer.email }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('customer_index') }}">Terug naar lijst</a>

    <a href="{{ path('customer_edit', {'id': customer.id}) }}">Bewerken</a>

    {{ include('customer/_delete_form.html.twig') }}
{% endblock %}
