{% extends 'base.html.twig' %}

{% block title %}Bewerk bezigheid{% endblock %}

{% block body %}
    <h1>Bewerk bezigheid</h1>

    {{ include('maintenance/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('maintenance_index') }}">terug naar lijst</a>

    {{ include('maintenance/_delete_form.html.twig') }}
{% endblock %}
