{% extends 'base.html.twig' %}

{% block title %}Maak nieuw onderdhoud{% endblock %}

{% block body %}
    <h1>Maak nieuw onderhoud</h1>

    {{ include('maintenance/_form.html.twig') }}

    <a href="{{ path('maintenance_index') }}">Terug naar lijst</a>
{% endblock %}
