{% extends 'base.html.twig' %}

{% block title %}Onderhoud{% endblock %}

{% block body %}
    <h1>Onderhoud</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ maintenance.id }}</td>
            </tr>
            <tr>
                <th>Titel</th>
                <td>{{ maintenance.title }}</td>
            </tr>
            <tr>
                <th>Bescbrijving</th>
                <td>{{ maintenance.description }}</td>
            </tr>
            <tr>
                <th>Tijdsduur</th>
                <td>{{ maintenance.duration }}</td>
            </tr>
            <tr>
                <th>Prijs</th>
                <td>{{ maintenance.price }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('maintenance_index') }}">Terug naar lijst</a>

    <a href="{{ path('maintenance_edit', {'id': maintenance.id}) }}">Bewerken</a>

    {{ include('maintenance/_delete_form.html.twig') }}
{% endblock %}
